db/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.unioverflow.com" xmlns="http://www.unioverflow.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="users">
    	<xs:complexType>
    		<xs:sequence>
    			<xs:element maxOccurs="unbounded" name="user" type="Tuser"/>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
    <xs:complexType name="Tuser">
    	<xs:sequence>
    		<xs:element name="email" type="xs:string" />
    		<xs:element name="password" type="xs:string" />
    	</xs:sequence>
    </xs:complexType>
</xs:schema>
